# MongoDB Connection
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/skillmatch?retryWrites=true&w=majority
PORT=5003

# JWT Secret
JWT_SECRET=your_jwt_secret_key_here

# Resend API for OTP Mails (Optional)
RESEND_API_KEY=re_your_api_key_here
MAIL_FROM=onboarding@resend.dev

# Cloudinary Credentials (Optional if uploading directly from client)
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
